@typeparam T

<label for="@Id" class="block mb-2 text-sm font-medium">
    @Label
</label>
<InputNumber class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
            focus:ring-slate-200
            focus:border-slate-400 block w-full p-2.5"
             @bind-Value="@Value" />

@code {
    [CascadingParameter] protected MainLayout.GlobalInformation global { get; set; }
    [Parameter] public string Id { get; set; } = Guid.NewGuid().ToString();
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public T Value { get; set; }

}
