################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MoneyPot_BlazorFront
/MoneyPot_BlazorFront/bin/Debug/net6.0
/MoneyPot_BlazorFront/obj
/MoneyPot_BlazorFront/node_modules
/ConsoleTest
/MoneyPot_BlazorFront/bin/Release/net6.0
/.config
/.ajuna
/MoneyPot_RestClient.Mockup
/MoneyPot_RestClient.Test
/MoneyPot_RestService
/Shared_MoneyPot/obj
/Shared_MoneyPot/bin
/MoneyPot_NetApiExt/bin
/MoneyPot_NetApiExt/obj
/MoneyPot_RestClient/bin
/MoneyPot_RestClient/obj
/.vs/
/MoneyPot_Shared_Test/bin/Debug/net6.0
/MoneyPot_Shared_Test/obj
