@using MoneyPot_Shared
@inject IEventsRepository eventsRepository;

<div>
    <div>
        <div class="mb-4 flex items-center justify-between">
            <div>
                <MPTitle Title="Recent events" />
            </div>
        </div>

        <div class="flex flex-col mt-8">
            <div class="shadow">
                <MPTable Elems="Events"
                         Context="ev">
                    <ThContent>
                        <th scope="col" class="p-4 text-left text-xs font-medium text-@global.themeInfo.MainColor uppercase">
                            Event name
                        </th>
                        <th scope="col" class="p-4 text-left text-xs font-medium text-@global.themeInfo.MainColor uppercase">
                            Block number
                        </th>
                    </ThContent>
                    <TbodyContent>
                        <tr>
                            <td class="p-1 whitespace-nowrap text-sm font-normal">
                                <span class="font-semibold">@ev.EventName</span>
                                <span class="font-semibold">@ev.Description</span>
                            </td>
                            <td class="p-1 whitespace-nowrap text-xs font-normal">
                                <span>@(ev.Block.BlockNumber)</span>
                            </td>
                        </tr>
                    </TbodyContent>
                </MPTable>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] protected MainLayout.GlobalInformation? global { get; set; }
    public List<EventDto> Events { get; set; } = new List<EventDto>();

    protected override void OnInitialized()
    {
        eventsRepository.SubscribeNewEventAsync((EventDto newEvent) =>
        {
            this.Events.Insert(0, newEvent);
            StateHasChanged();
        });
    }
}
