@inject IMoneyPotRepository moneyPotRepository;

<h3 class="mb-4 text-xl font-medium">Contribute to money pot</h3>
<EditForm Model="Contributor"
          OnValidSubmit="ValidateContribution"
          class="space-y-6">
    @*<div>
        <MPInputText Label="Your account"
                     @bind-Value="@Contributor.Contributor.Address" />
    </div>*@
    <div>
        <InputNumber class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                     @bind-Value="@Contributor.Amount" />
    </div>

    <MPButton TypeBtn="MPButton.TypeButton.Submit">
        Validate contribution
    </MPButton>
</EditForm>

@code {
    [Parameter] public MoneyPotDto moneyPotDto { get; set; }
    [Parameter] public ContributorDto Contributor { get; set; } = new ContributorDto();
    [Parameter] public EventCallback<ContributorDto> OnMoneyPotContribution { get; set; }

    protected async Task ValidateContribution()
    {
        await moneyPotRepository.ContributeMoneyPotAsync(moneyPotDto, Contributor.Amount, async (string status) => {
            //Todo : gérer les comptes inconnus
            Console.WriteLine($"Money pot contribution = {status}");
            await OnMoneyPotContribution.InvokeAsync(Contributor);
        });
    }
}
