@inject IToastService toastService;

<div class="flex items-center justify-center">
    <Modal Valid=""
           Cancel="Close"
           @ref="_creationModal">
        <ToggleModalContent>
            <MPButton TypeBtn="MPButton.TypeButton.Valid">
                Create new money pot
            </MPButton>
        </ToggleModalContent>
        <ModalContent>
            <CreateForm OnMoneyPotCreated="OnMoneyPotCreated" />
        </ModalContent>
    </Modal>
</div>

@code {
    private Modal _creationModal = new();
    private MoneyPotDto _newMoneyPot = new();

    protected void OnMoneyPotCreated(MoneyPotDto newMoneyPot)
    {
        _newMoneyPot = newMoneyPot;
        // Todo : make something with the new money pot (notice that it has been validated by finalized extrinsic so everything is ok)

        this._creationModal.Hide();
    }
}
