@using MoneyPot_BlazorFront.Helpers
@inject IAccountService accountService;
@inject IMoneyPotRepository moneyPotRepository;

<EditForm Model="CreateModel"
          OnValidSubmit="ValidateCreation"
          class="space-y-6">
    <div>
        <MPInputText Label="Receiver account"
                     @bind-Value="@CreateModel.ReceiverAddress" />
    </div>
    <div>
        <InputNumber Label="Target amount"
                     class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                     @bind-Value="@CreateModel.TargetAmount" />
    </div>

    <MPButton TypeBtn="MPButton.TypeButton.Submit">
        Create money pot
    </MPButton>
</EditForm>

@code {
    [CascadingParameter] protected MainLayout.GlobalInformation? global { get; set; }
    [Parameter] public MoneyPotDto MoneyPot { get; set; }
    [Parameter] public EventCallback OnMoneyPotCreated { get; set; }

    private CreateDto CreateModel { get; set; } = new();

    //private string receiverAddress;
    //private double targetAmount;


    public async Task ValidateCreation()
    {
        await moneyPotRepository.CreateMoneyPotAsync(SubstrateHelper.BuildAccountDtoFromAddress(CreateModel.ReceiverAddress), CreateModel.TargetAmount, async (string status) => {
            //Todo : gérer les comptes inconnus
            Console.WriteLine($"Money pot creation = {status}");
            await OnMoneyPotCreated.InvokeAsync();
        });

    }

    protected class CreateDto
    {
        public string ReceiverAddress { get; set; } 
        public double TargetAmount { get; set; }
    }
}
