<footer class="fixed bottom-0 p-4 bg-white rounded-lg shadow w-full">
    <div class="flex items-center justify-center">
        <div class="text-sm text-center">
            This project is a proof of concept and use 
            <a class="underline text-green-600 hover:text-amber-400"
               href="https://github.com/SubstrateGaming/Substrate.NET.API" 
                target="_blank">Substrate Gaming .NET API</a>
            +
            <a class="underline text-green-600 hover:text-amber-400"
               href="https://github.com/SubstrateGaming/Substrate.NET.Toolchain"
               target="_blank">Substrate Gaming NET.Toolchain</a>
            +
            <a class="underline text-green-600 hover:text-amber-400"
                href="https://learn.microsoft.com/fr-fr/aspnet/core/blazor"
               target="_blank">
                Blazor project
            </a>
            .
            Check this out on
            <a href="https://github.com/Apolixit/moneypot-blazor" target="_blank" class="ml-2 text-green-600 hover:text-amber-400">
                <i class="fa-brands fa-github text-lg"></i>
            </a>
        </div>
    </div>
</footer>