<footer class="absolute bottom-0 p-4 bg-white rounded-lg shadow w-full">
    <div class="flex items-center justify-between">
        <div class="text-sm text-center">© @DateTime.Now.Year</div>
        <div>
            <a href="https://github.com/Apolixit/moneypot-blazor" target="_blank" class="text-green-600 hover:text-amber-400">
                <i class="fa-brands fa-github text-lg"></i>
            </a>
        </div>
    </div>
</footer>