@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<nav class="bg-@global.themeInfo.BackgroundPrimaryColor border-b border-gray-200 fixed z-30 w-full border-b-@global.themeInfo.MainColor">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <NavMenu />
    </div>
</nav>
<div class="flex overflow-hidden bg-@global.themeInfo.BackgroundPrimaryColor pt-16">
    <div class="w-full h-full bg-@global.themeInfo.BackgroundSecondaryColor relative overflow-y-auto">
        <CascadingValue Value="@global">
            <main class="pt-6 px-4">
                <div class="w-full grid grid-cols-2 sm::grid-cols-1 gap-4 h-96 overflow-auto">
                    <div class="bg-@global.themeInfo.BackgroundPrimaryColor shadow rounded-lg p-4">
                        @* Blocks *@
                        <MoneyPot_BlazorFront.Shared.Component.BlockList />
                    </div>
                    <div class="bg-@global.themeInfo.BackgroundPrimaryColor shadow rounded-lg p-4 h-96">
                        @* Account *@
                        <MoneyPot_BlazorFront.Shared.Component.AccountList />
                    </div>
                </div>

                <div class="my-4">
                    @Body
                </div>
            </main>
        </CascadingValue>
    </div>
</div>
@*<Footer />*@

@code {
    protected GlobalInformation? global { get; set; }
    protected Theme.Mode currentMode { get; set; } = Theme.Mode.White;
    protected override void OnInitialized()
    {
        this.global = new GlobalInformation(this.currentMode);
    }

    public class GlobalInformation
    {
        public AccountDto connectedUser;
        public IThemeInfo themeInfo;

        public GlobalInformation(Theme.Mode mode)
        {
            connectedUser = null;
            themeInfo = Theme.GetTheme(mode);
        }
    }
}